.root {
  height: 100%;
}


.data-line {
  border-bottom: solid 1px #cdced1;
  max-height: 55px;
  
}

.data-line:hover {
    background-color: #cdced1;
    border-radius: 3px;
}

.weight-value {
  text-align: center;
  float: left;
  padding: 0;
}

.date-value {
  text-align: center;
  float: right;
  padding: 0;
}
