/* You can add global styles to this file, and also import other style files */
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.section-title{
    color: white;
    padding: 0;
    margin: 0;
}


.round-edges{
    border-radius: 10px;
}

.logo.tropicla-keltic{
    fill: white !important;
    width: 100%;
}